# MongoDB Connection String
# For Local MongoDB:
MONGODB_URI=mongodb://127.0.0.1:27017/apk_elite

# For MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/apk_elite?retryWrites=true&w=majority

# CMS Portal Settings
NEXT_PUBLIC_APP_NAME="APK Elite Lead CMS"
NEXT_PUBLIC_PHONE="+918830167863"
